<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyOutcomes - Feedback Informed Treatment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="QuHN5DaKV4dReupSuaMLH8BxFjGSazixlbjKYv4cGk4" />
    <link href="../../Content/ePlatform_style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/Scripts/jquery.printElement.min.js"></script>
    <style type="text/css">

  

    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    #certificate {

        text-align:left;
        float: left;
 
    }

    
    </style>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/FitElearn")
    @RenderSection("scripts", required: false)
</head>
<body>




        @RenderBody()






</body>
</html>