@{
    ViewBag.Title = "About";
}


<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
        <img src="../../Images/icons/training_room_icon_29.jpg" class="lesson_icon">
    </div>

    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 page-header">

        <h1>About FIT</h1>
        <hr />

        <p>&nbsp;</p>
        <div style="width:160px;float:left;margin:0 10px 10px 0;"><img src="../../Images/bios/portait_scott.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Scott D. Miller</h2>
        <h7>(US) Founder of the ICCE</h7>
        <p>Scott D. Miller, PhD is the founder of the International Center for Clinical Excellence, an international consortium of clinicians, researchers, and educators dedicated to promoting excellence in behavioral health services. Dr. Miller conducts workshops and training in the United States and abroad, helping hundreds of agencies and organizations, both public and private, to achieve superior results. He is one of a handful of “invited faculty” whose work, thinking, and research is featured at the prestigious “Evolution of Psychotherapy Conference.” His humorous and engaging presentational style and command of the research literature consistently inspires practitioners, administrators, and policy makers to make effective changes in service delivery.</p>

        <p>Scott is the author of numerous articles and books, including Escape from Babel: Toward a Unifying Language for Psychotherapy Practice (with Barry Duncan and Mark Hubble [Norton, 1997]), The Heart and Soul of Change (with Mark Hubble and Barry Duncan [APA Press, 1999, 2010]), The Heroic Client: A Revolutionary Way to Improve Effectiveness through Client-Directed, Outcome-Informed Therapy (with Barry Duncan [Jossey-Bass, 2000], and Jacqueline Sparks [Revised, 2004]), Staying on Top and Keeping the Sand Out of your Pants: The Surfer’s Guide to the Good Life (with Mark Hubble and Seth Houdeshell [HCI Books, 2003]) and the forthcoming Achieving Clinical Excellence in Behavioral Health: Empirical Lessons from the Field’s Most Effective Practitioners (with Mark Hubble and William Andrews).</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 10px 0;"><img src="../../Images/bios/portait_cynthia.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Cynthia Maeschalck</h2>
        <h7>MA,CCC</h7>
        <p>Cynthia Maeschalck is the ICCE Community Manager and a faculty member.  Cynthia has been a Senior Associate and Certified Trainer with the ICCE since its inception and has written several articles about FIT, helped to develop the ICCE Core Competencies, co-authored 3 of the 6 ICCE FIT manuals and is the lead author of the ICCE FIT Supervision Manual.  With over three decades of experience as a counsellor, clinical supervisor and manager in mental health and addiction services her practical experience has been an asset in assisting  clinicians and agencies around the world to understand and implement Feedback Informed Treatment successfully.</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 40px 0;"><img src="../../Images/bios/portait_cindy.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Cindy Hansen</h2>
        <h7>(CA) Certified ICCE Trainer </h7>
        <p>Cindy Hansen, BA-Psych, HHP, is the Vice-President of Health-Factors, the company that developed FIT eLearning and MyOutcomes®. Her career has been centered on advancing behavioral health best practices and self-report outcomes measurement. She has presented at national research and medical conferences, as well as to general audiences on these topics. Through her close contact with the MyOutcomes’® global client base and her experience in web-based program development, Cindy brings a unique insight into the process of developing the clinical tools and resources therapists need most.</p>


        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 20px 0;"><img src="../../Images/bios/portait_susanne.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Susanne Bargmann</h2>
        <h7>(DK) ICCE Senior Associate</h7>
        <p>Susanne Bargmann is a licensed psychologist and specialist in psychotherapy. She has over 8 years of experience working with CDOI / FIT. She has written several Danish articles about CDOI / FIT and, more recently, has published an article discussing the  Evidence-Based Practice (EDP) and how CDOI / FIT can contribute to a more fully developed understanding of EDP. Susanne is dedicated to improving the way professionals think about therapy and diagnosis.</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 20px 0;"><img src="../../Images/bios/portait_schuckard.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Eeuwe Schuckard</h2>
        <h7>(NZ) ICCE Senior Associate</h7>
        <p>Eeuwe Schuckard is a psychologist currently working for the Child and Adolescent Mental Health Service (CAMHS) in New Zealand. CAMHS is funded by Capital and Coast District Health and offers multidisciplinary assessment and intervention for children and adolescents experiencing mental health difficulties. In 2009, Eeuwe  completed the Child and Family Psychology programme at Canterbury University and started practicing. In 2012, Eeuwe completed both the Advanced FIT and Training of Trainers courses. With the assistance of his fellow clinicians, Eeuwe set up formalised outcome management systems at CAMHS in Pember House, Porirua. After routinely gathering outcome data between the years 2012-2013, the clinicians at the service are now among the few in New Zealand with sufficient data to estimate their relative effectiveness. Efforts are also now underway at CAMHS to improve and tailor service provision using client-solicited feedback. Eeuwe is currently developing a project that uses simulation and other novel training approaches in an effort to improve his own effectiveness, as well as that of other clinicians at CAMHS.</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 20px 0;"><img src="../../Images/bios/portait_seidel.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Jason Seidel</h2>
        <h7>(US) ICCE Senior Associate</h7>
        <p>Jason Seidel is a Denver psychologist in private practice. He has worked in psychological and counseling services for over 20 years. Jason is one of the first psychotherapists to report his outcomes in rigorous detail on the Internet. He has demonstrated best-in-class psychotherapy outcomes for adults since he began formally tracking client progress in 2004. Having deliberately practiced helping others in the “deep end of the pool” since he was a teenager, Jason now clinically specializes in the integration of intolerable emotions and healing the impact of extreme experiences.. He has also worked in the fields of biopsychiatry, business development, as well as mythopoetic initiation and mentoring. In addition to practicing what he preaches to his clients, Jason brings his open heart, brutal honesty and quick sense of humor to consultations with individuals and organizations, thereby helping them attain tremendous improvements in their outcomes and service quality.</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 20px 0;"><img src="../../Images/bios/portait_buccino.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Daniel L Buccino</h2>
        <h7>(US) ICCE Associate and a Certified Trainer</h7>
        <p>Prof. Buccino is the co-founder and co-director of the Baltimore Psychotherapy Institute. He is an Assistant Professor in the Department of Psychiatry and Behavioral Sciences at John Hopkins University School of Medicine and is also the Clinical Supervisor and Student Coordinator of the Adult Outpatient Community Psychiatry Program at the John Hopkins Bayview Medical Center. He is an I.C.C.E. Associate and a Certified Trainer. He has worked extensively with Jason Seidel and Scott D. Miller in evaluating the theory that seeking formal feedback from consumers of behavioral health services decreases drop out and deterioration while simultaneously improving effectiveness. Prof. Buccino and his colleagues have reported their findings in Responding to New Scientific Objections to the ORS.</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 20px 0;"><img src="../../Images/bios/portait_steindl.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>Stan Steindl</h2>
        <h7>(AU) Certified ICCE Trainer</h7>
        <p>Stanley Steindl is an Australian-based trained psychologist who works at Morningside and Newmarket practices. He has been practicing clinical psychology since 1993 and works full-time in private practice. Stan’s doctoral research involved examining motivational interviewing techniques and cognitive behavioural therapy upon the treatment of combat veterans with post-traumatic stress disorder and alcohol dependence. In 1999, Stan began his general clinical psychology practice when he established Psychology Consultants Pty Ltd. Stan is an experienced presenter and an adjunct senior lecturer at the University of Queensland. He conducts training sessions in Motivational Interviewing (MI) and is a member of the Motivational Interviewing Network of Trainers (MINT). Stan has also delivered several workshops on feedback informed treatment and how it enhances clinician effectiveness and improves client outcomes.</p>

        <p>&nbsp;</p>
        <hr />
        <div style="width:160px;float:left;margin:0 10px 20px 0;"><img src="../../Images/bios/portait_low.jpg" style="border:1px solid #efefef;width:150px;" /></div>
        <h2>David C. Low</h2>
        <h7>(UK) Certified ICCE Trainer</h7>
        <p>David C. Low is with the Norfolk and Suffolk NHS Foundation Trust. He has worked with Scott D. Miller, of ICCE, and Brigitte Squire, from the Cambridgeshire and Peterborough NHS Foundation Trust, in implementing feedback-informed treatment into Child and Adolescent Mental Health Services (CAMHS).</p>

        <p>With his colleagues, David developed a practical guide for integrating user feedback and outcome tools into  clinical practices that are focused on child and adolescent mental health and their families. The guide offers helpful ideas to supervisors and clinicians using outcome measures and tools in their clinical practice and shows them how to use the clinical information they routinely gather to improve what they do.</p>

        <div style="padding:40px 0 100px 0;float:left;"><p id="l2"><a href="Index">return to dashboard</a></p></div>
    </div>
</div></div>
