@{
    ViewBag.Title = "Congratulations";
}

<div align="center">

<div style="width:990px;text-align:left;margin-left:40px;">
<div style="width:240px;clear:both;float:left;">
<img src="../../Images/icons/training_room_icon_29.jpg" alt="" border="0" /></div>

<div style="width:565px;clear:none;float:left;">

<h1>Congratulations</h1>
<hr />
<p>Continue on your FIT Path to Excellence.</p>

    <hr />
    <div style="background-image:url('../../Images/cert_full.jpg');background-repeat:no-repeat;height:440px;width:640px;"><div style="width:640px;padding-top:149px;float:left;clear:both;text-align:center;">NAME OF RECIPIENT</div><div style="width:640px;padding:65px 0 0 0;float:left;clear:both;text-align:center;">DATE</div></div>
<p>&nbsp;</p>

<div style="padding:40px 0 100px 0;float:left;"><p id="l2"><a href="Index">return to dashboard</a></p></div>
</div></div></div>
