@{
    ViewBag.Title = "ePlatform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- start ePlatform training room -->
<div style="width:100%">
<div id="training_room">
<table align="center" style="width:844px;">
<!-- introduction -->
<tr><td colspan="3"><div id="week_intro">
      <span class="week_intro_heading">Introduction</span></div>      
    </td></tr>
<tr>
	<td valign="top"  id="icon_tr"><a href="Intro" border="0"><img src="../../Images/icons/training_room_icon_01.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Intro">Introduction </a></h2>
    <h3><a href="Intro"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin introduction</a></h3>
	<div id="tr_lessons"><p>Familiarize participants with ICCE Core Competencies</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_green">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"></td></tr>
    
    
    <!-- Lesson 1 -->
<tr><td colspan="3" id="lesson1"><div id="week_intro">
      <span class="week_intro_heading">Lesson 1</span> </div> 
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_23.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_01">Does Therapy Work?</a></h2>
    <h3><a href="Lesson_01"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 1</a></h3>
	<div id="tr_lessons"><h10>Participants will be familiar with research findings in behavioral health outcomes and will be able to identify:</h10> 
    <p>What is working in the field of psychotherapy (i.e. treatment is efficacious, cost effective etc.).</p>
    <p>What is not working in the field (i.e. high drop outs, stagnant outcomes, etc.).</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
       <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_green">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg" height="1" width="200" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson1">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_01_Activities">Review this week's activities.</a> </div></td></tr>
    
    <!-- Lesson 2 -->
<tr><td colspan="3" id="lesson2"><div id="week_intro">
      <span class="week_intro_heading">Lesson 2</span></div> 
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_02.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_02">What Works in Therapy?</a></h2>
    <h3><a href="Lesson_02"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 2</a></h3>
	<div id="tr_lessons"><h10>Lesson Goals:</h10>
    <p>Identify and define the factors that account for the efficacy of all talking therapies (i.e. extra-therapeutic factors, therapist factors etc.) and what proportion each of these factors contribute to change.</p>
    <p>Identify what does not account for the efficacy of psychotherapy  (i.e. model, and technique).
</p>
    <p>Define therapeutic alliance; describe the components that make up the therapeutic alliance.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_green">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson2">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_02_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 3 -->
<tr><td colspan="3" id="lesson3"><div id="week_intro">
      <span class="week_intro_heading">Lesson 3</span></div> 
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_03.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_03">Basic Tenets of Feedback Informed Treatment (FIT)</a></h2>
    <h3><a href="Lesson_03"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 3</a></h3>
	<div id="tr_lessons"><h10>Lesson Goals:</h10>
    <p>Define Feedback Informed Treatment (FIT) and articulate how FIT differs from treatment models and approaches.</p> 
<p>Identify what predicts and what does not predict outcome.</p>
<p>Explain why it is important to gather formal client feedback on outcome and alliance (i.e. early change, client experience of alliance).</p>    </div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_green">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson3">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_03_Activities">Review this week's activities.</a> </div></td></tr>
    
    <!-- Lesson 4 -->
<tr><td colspan="3" id="lesson4"><div id="week_intro">
    <span class="week_intro_heading">Lesson 4</span> </div>
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="Lesson_04" border="0"><img src="../../Images/icons/training_room_icon_29.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="LessonFLow?moduleId=1&lessonId=1&sortId=1">Gathering Formal Client Feedback</a></h2>
    <h3><a href="LessonFLow?moduleId=1&lessonId=1&sortId=1"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 4 </a></h3>
	<div id="tr_lessons"><h10>Lesson Goals:</h10>
    <p>Describe what outcome and alliance measures are measuring.</p> 
    <p>Describe who developed the Outcome Rating Scale (ORS) and the Session Rating Scale (SRS); why these measures were developed.</p> 
    <p>Lesson Goals identify the characteristics of a culture of feedback.</p> 
    <p>Lesson Goals articulate why a culture of feedback in therapy is important.</p> 
    <p>Participants will be familiar with a number of strategies for enhancing the development of a culture of feedback in therapy.</p> 
    <p>Through practice exercises, participants will improve their skills in generating honest client feedback.</p>
</div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellow">on<br />pace</div>
        <div id="status_icons_green">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson4">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_04_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 5 -->
<tr><td colspan="3" id="lesson5"><div id="week_intro">
      <span class="week_intro_heading">Lesson 5</span> </div>       
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_09.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_05">Psychometrics of the Outcome Rating Scale (ORS) and the SRS</a></h2>
    <h3><a href="Lesson_05"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 5</a></h3>
	<div id="tr_lessons"><h10>Lesson Goals:</h10>
    <p>Describe the psychometric properties (i.e. reliability, validity, clinical cutoff, reliable change index) of the adult, and child versions of the ORS and SRS (and GSRS). </p>
    <p>Explain what a visual analog scale is and why this type of scale was used in the development of the ORS measures.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson5">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_05_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 6 -->
<tr><td colspan="3" id="lesson6"><div id="week_intro">
      <span class="week_intro_heading">Lesson 6</span></div>
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_19.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_06">FIT Skills: Introducing the Outcome Rating Scale (ORS)</a></h2>
    <h3><a href="Lesson_06"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 6</a></h3>
	<div id="tr_lessons"><h10>Lesson Goals:</h10>
    <p>How and when to introduce the ORS to clients.</p>
    <p>How to score the ORS.</p>
    <p>How to track the ORS on a graph.</p>
    <p>Through practice administering the ORS, be able to administer the ORS to their clients.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson6">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_06_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 7 -->
<tr><td colspan="3" id="lesson7"><div id="week_intro">
      <span class="week_intro_heading">Lesson 7</span></div>  
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_22.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_07">FIT Skills: Introducing the Session Rating Scale (SRS)</a></h2>
    <h3><a href="Lesson_07"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 7</a></h3>
	<div id="tr_lessons">
	  <h10>Participants will know:</h10>
    <p>How and when to introduce the SRS to clients. 
    <p>How to score the SRS.</p>
    <p>How to track the SRS on a graph.</p>
    <p>Through practice administering the SRS, Lesson Goals administer the SRS to their clients following the training.
</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson7">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_07_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 8 -->
<tr><td colspan="3" id="lesson8"><div id="week_intro">
      <span class="week_intro_heading">Lesson 8</span></div> 
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_28.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_08">FIT Skills: Integrating Outcome Measures into Clinical Practice</a></h2>
    <h3><a href="Lesson_08"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 8</a></h3>
	<div id="tr_lessons">
	  <h10>Participants will understand:</h10>
    <p>The clinical cutoff and the implications for the dose and intensity of treatment services as well as managing mandated clients. </p>
    <p>How to interpret client ORS scores (change trajectories) as they pertain to client progress.</p>
    <p>Lesson Goals compare client progress to normative samples.</p>
    <p>Lesson Goals identify when  client's change  trajectories are on or off track.</p>
    <p>Participants will know how to identify cases at risk of drop out or null or negative outcomes based on clients' change trajectories.</p>
    <p>Participants will know when and how to have conversations with their clients about the meanings behind their clients' scores on the ORS and SRS.</p>
    <p>Through practice, Lesson Goals integrate the ORS and SRS into their work.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson8">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_08_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 9 -->
<tr><td colspan="3" id="lesson9"><div id="week_intro">
      <span class="week_intro_heading">Lesson 9</span></div> 
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_21.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_09">FIT Skills: Using Client Feedback on Alliance Measures to Inform Treatment Practice</a></h2>
    <h3><a href="Lesson_09"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 9</a></h3>
	<div id="tr_lessons">
	  <h10>Participants will:</h10>
    <p>Understand the importance of negative feedback and why it is important to elicit honest and useful feedback from clients (i.e. risk of drop out).</p>
    <p>Know what questions to ask to get honest feedback through practice exercises, participants will improve their skills in generating honest client feedback.
</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson9">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_09_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 10 -->
<tr><td colspan="3" id="lesson10"><div id="week_intro">
      <span class="week_intro_heading">Lesson 10</span></div>
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_13.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_10">FIT Skills: Using Client Feedback to Inform Treatment Practice</a></h2>
    <h3><a href="Lesson_10"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 10</a></h3>
	<div id="tr_lessons">
	  <h10>Participants will:</h10>
    <p>Understand different patterns of scores on the SRS.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson10">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_10_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 11 -->
<tr><td colspan="3" id="lesson11"><div id="week_intro">
      <span class="week_intro_heading">Lesson 11</span></div> 
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_24.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
	<h2><a href="Lesson_11">FIT Skills: FIT in Group Work</a></h2>
    <h3><a href="Lesson_11"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 11</a></h3>
	<div id="tr_lessons">
	  <h10>Participants will learn:</h10>
    <p>Strategies that will enable you to administer the ORS and SRS in Group work and address client feedback in the group context and use the feedback to inform group therapy practice.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson11">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_11_Activities">Review this week's activities.</a> </div></td></tr>
    
    
    
    <!-- Lesson 12 -->
<tr><td colspan="3" id="lesson12"><div id="week_intro">
      <span class="week_intro_heading">Lesson 12</span></div>
    </td></tr>
    <tr>
	<td valign="top"  id="icon_tr"><a href="" border="0"><img src="../../Images/icons/training_room_icon_25.jpg" alt="" border="0" /></a></td>
	<td align="left" valign="top"><div id="week_text">
    <h2><a href="Lesson_12">FIT Skills: FIT in Couples and Family Therapy Including FIT with Children and Youth</a></h2>
    <h3><a href="Lesson_12"><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Begin Lesson 12</a></h3>
	<div id="tr_lessons">
    <p>Participants be able to administer the ORS and SRS (and appropriate child versions) in couple and family therapy sessions. </p>
<p>Lesson Goals discuss feedback generated by partners and family members with family members in sessions. </p>
<p>Participants will know how to track outcome and alliance scores and draw comparisons of client progress with the couple or family context.</p>
<p>Lesson Goals use client feedback on outcome and alliance to inform practice decisions in family and couple therapy.</p>
<p>Participants will be familiar with the CORS, CSRS, YCORS, YCSRS and will know how to administer, score and track these measures.</p>
<p>Lesson Goals identify the difference between the adult and child versions of the ORS and SRS (i.e. language and literacy levels of the CORS and CSRS, clinical cutoff etc.). 
</p>
<p>Participants will know how to determine when it is appropriate to use the CORS, CSRS, YCORS and YCSRS rather than the adult versions of the measures.</p></div></div></td>
	<td align="left" valign="top"><div id="help_icons">
    	<div id="week_text_training"><h4><b>Status:</b></h4>
        <div id="status_icons_redgrey">falling<br />behind</div>
        <div id="status_icons_yellowgrey">on<br />pace</div>
        <div id="status_icons_greengrey">successfully<br />completed</div>
        <div style="float:left;clear:both;padding-top:4px;"><img src="../../../../Images/graph_gradient.jpg"  width="200" height="1" /></div>
        </div>
    	<div id="supportforsuccess"><a href="ICCE_Support">ICCE<br />Support</a></div>
    	<div id="awarenessprofile"><a href="Awareness_Profile#lesson12">My<br />Awareness<br />Profile</a></div></div></td>
    </tr>
    <tr>
	<td></td>
	<td colspan="2" align="left"><div style="float:left;clear:both;padding-top:30px;padding-bottom:0px;height:2px;width:100%;margin-top:-12px;background:url(../../Images/feather.jpg);background-repeat:no-repeat;background-position:73% 0%;"></div></td></tr>
    <tr>
	<td></td>
	<td colspan="2" align="left">
    <div  id="l1"><a href="Lesson_12_Activities">Review this week's activities.</a> </div></td></tr>
    </table>

</div></div>