@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div align="center">

<div style="width:990px;text-align:left;margin-left:40px;">
<div style="width:240px;clear:both;float:left;">
<img src="../../Images/icons/training_room_icon_29.jpg" alt="" border="0" /></div>

<div style="width:565px;clear:none;float:left;">

<h1>Forgot Your Password</h1>
<hr />
  <p>Enter your email: <input type="text" id="email"/> <button id="forgotBtn" onclick="FitElearn.Utilities.verifyEmail();">Submit</button></p>
    <p id="pw_msg" class="green"></p>
    <p><a href="../">Return to login screen</a></p>

<p>&nbsp;</p>
</div></div></div>
