@{
    ViewBag.Title = "ICCE_Support";
}


<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
        <img src="../../Images/icons/training_room_icon_29.jpg" class="lesson_icon">
    </div>

    <div class="col-lg-6 col-md-6 col-xs-8 col-sm-8 page-header">

        <h1>ICCE Support</h1>
        <hr />

        <h4>Links</h4>
        <p id="l2"><a href="https://centerforclinicalexcellence.com/contact-us/" target="_blank">CONTACT FIT</a></p>
        <p id="l2"><a href="https://centerforclinicalexcellence.com/leadership/" target="_blank">TEAM </a></p>
        <p id="l2"><a href="https://centerforclinicalexcellence.com/fancy-list-of-fit-certified-trainers/" target="_blank">SERVICES</a> </p>
        <p id="l2"><a href="https://store.scottdmiller.com" target="_blank">STORE</a></p>
        <p id="l2">
            <a href="https://centerforclinicalexcellence.com/interested-in-training/" target="_blank">UPCOMING TRAINING</a>
        </p>
        <br />
        <p>&nbsp;</p>
        <h4>Video</h4>
        <p id="l2"><a href="~/Home/About_FIT_Tutorial" ><img src="../../../../Images/dashboard/film_icon2.gif" height="18" border="0" align="absmiddle" /> Learn About FIT eLearning</a></p>
        <p>&nbsp;</p>

    </div>
</div>
