@{
    ViewBag.Title = "Intro_Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">

<div style="width:990px;text-align:left;margin-left:40px;">

<div style="width:240px;clear:both;float:left;"><img src="../../Images/icons/training_room_icon_01.jpg" alt="" border="0" /></div>

<div style="width:565px;clear:none;float:left;"><h2>Intro Activities:</h2> 
<hr />
<ol>
<li></li><li></li></ol><p id="l2"></p>
</div>
</div></div>