@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div align="center">

<div style="width:990px;text-align:left;margin-left:40px;">
<div style="width:240px;clear:both;float:left;"><img src="../../Images/icons/training_room_icon_01.jpg" alt="" border="0" /></div>

<div style="width:700px;clear:none;float:left;"><h1>Introduction</h1>
<hr />

<p>&nbsp;</p>


<p style="border:1px solid #ccc;height:405px;width:720px;background:#efefef;text-align:center;">video here</p>

<div><a href="Lesson_041"><img src="../../Images/btn_next.jpg" border="0" /></a></div>

</div>
</div></div>