<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="fit_elearningEntities" connectionString="metadata=res://*/Domain.Entities.FitELearnModel.csdl|res://*/Domain.Entities.FitELearnModel.ssdl|res://*/Domain.Entities.FitELearnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMAGINETECH\SQLEXPRESS;Initial Catalog=fit_elearning;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <!--   <add name="fit_elearningEntities" connectionString="metadata=res://*/Domain.Entities.FitELearnModel.csdl|res://*/Domain.Entities.FitELearnModel.ssdl|res://*/Domain.Entities.FitELearnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=fit_elearning;Persist Security Info=True;User ID=sa;Password=1;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <add name="fit_elearningEntities1" connectionString="metadata=res://*/fitUserBehind.csdl|res://*/fitUserBehind.ssdl|res://*/fitUserBehind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.21;Initial Catalog=fit_elearning;Persist Security Info=True;User ID=elearning;Password=Connect3;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" password="Sm1leyB0n3!" userName="noreply@myoutcomes.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
